<!-- <div style="background-color: #e9e9e9; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;" class="text-orange-300 text-3xl">
  Cheto estuvo aqui
</div>
 -->

<div style="background-image: url(../../../app/resources/fondoTest.jpeg); width: 100px; height: 100vh; background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center;" class="text-orange-300 text-3xl">

  <button mat-raised-button color="primary">Prueba Material</button>
</div>
