<div style="background-color: #cccccc;" class="h-screen w-64 text-black flex flex-col">
  <div style="background-color: #008584; padding: 1.35rem;" class="text-xl font-bold border-b border-teal-600 text-white">
    MiDientes
  </div>
  <nav class="flex-1 p-4 space-y-2">
    <a href="/" routerLinkActive="bg-[#008584]" class="block p-2 rounded hover:bg-[#008584] hover:text-white text-black">🏠 Dashboard</a>
    <a href="/NewPatientRegistry" routerLinkActive="bg-[#008584]" class="block p-2 rounded text-black hover:bg-[#008584] hover:text-white">📝 Registro de Paciente</a>
    <a href="/citas" routerLinkActive="bg-[#008584]" class="block p-2 rounded hover:bg-[#008584] hover:text-white text-black">📋 Citas</a>
    <a href="/pacientes" routerLinkActive="bg-[#008584]" class="block p-2 rounded hover:bg-[#008584] hover:text-white text-black">🦷 Pacientes</a>
    <a href="/doctores" routerLinkActive="bg-[#008584]" class="block p-2 rounded hover:bg-[#008584] hover:text-white text-black">👨‍⚕️ Doctores</a>
    <a href="/configuracion" routerLinkActive="bg-[#008584]" class="block p-2 rounded hover:bg-[#008584] hover:text-white text-black">⚙️ Configuración</a>
  </nav>
  <div style="background-color: #008584;" class="p-4 border-t border-teal-600 text-sm text-white">
    © 2025 MiDiente
  </div>
</div>
